nav ul
{
	padding : 0px;
	margin: 0px;
	list-style-type: none;
	
}

nav li, nav h1
{
	/*display:inline-block /* pour mettre le menu horizontalement */
	list-style-type: none;
	width: 100px;
	height: 40px;
	margin: 0px;
	padding: 0px;
	border-right: 1px solid #CCCCCC;
	/*text-align: center  pour mettre le menu a gauche ou centre */
	line-height: 40px;
	text-decoration: underline;
	float:left;
	position:relative;
}

nav li a
{
	text-decoration: black;
	color: black;
	display: block;
}

nav li a:hover 
{
	background-color: #3388BB;
}