form, fieldset{
	height:100%
}

.container, .row2{
	height:80%
}

.container{
	width:50%;
	padding:20px;
	
}

fieldset{
	padding-left: 20px;
	padding-top: 20px;
}

fieldset div{
	padding-top:5px;
}
h2{
	    padding-bottom: 20px;
}